################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CraftingProjects.Server/bin/Debug/net8.0
/.vs/CraftingProjects/DesignTimeBuild
/.vs/CraftingProjects/FileContentIndex
.vs/CraftingProjects/v17/.suo
craftingprojects.client/obj/Debug/craftingprojects.client.esproj.CoreCompileInputs.cache
craftingprojects.client/obj/Debug/craftingprojects.client.esproj.FileListAbsolute.txt
CraftingProjects.Server/obj/Debug/net8.0/CraftingProjects.Server.AssemblyInfo.cs
CraftingProjects.Server/obj/Debug/net8.0/CraftingProjects.Server.AssemblyInfoInputs.cache
CraftingProjects.Server/obj/Debug/net8.0/CraftingProjects.Server.AssemblyInfo.cs
CraftingProjects.Server/obj/Debug/net8.0/CraftingProjects.Server.AssemblyInfoInputs.cache
